#menu-menuLateral .e-treeview .e-icon-collapsible,
#menu-menuLateral .e-treeview .e-icon-expandable {
  float: right;
}

ejs-sidebar {
  width: 190px !important;
  .e-input-group{
    height: 80px;
  }
  ejs-treeview {
    ul {
      padding-left: 5px;
      li {
        .e-text-content {
          padding-left: 5px;
        }
      }
    }
  }
}

span {margin-top: 30px;}