<ejs-sidebar
  id="menu-menuLateral"
  class="menu-lateral"
  #menuLateral
  type="Push"
  [enableGestures]="false"
>
  <div class="e-input-group">
    <input class="e-input" type="text" placeholder="Pesquise aqui" />
    <span class="fa fa-search e-input-popup-date"></span>
  </div>

  <ejs-treeview
    id="main-treeview"
    (nodeSelected)="onSelecionado($event)"
    [fields]="field"
    expandOn="Click"
  ></ejs-treeview>
</ejs-sidebar>
