<ejs-toolbar height="80" overflowMode="Scrollable">
  <e-items>
    <e-item
      template='<img src="../../../../../assets/image/srm-logo.jpg" alt="srm" width="139">'
    ></e-item>
    <e-item class="titulo" [template]="titulo"  align="Right"></e-item>
    <e-item [template]="menuDropdownOpcoes" align="Right"></e-item>
    <e-item [template]="menuDropdownUsuario" align="Right"></e-item>
    <e-item [template]="menuNotificacao" align="Right"></e-item>
  </e-items>
</ejs-toolbar>

<button
  ejs-dropdownbutton
  id="menuSuperior-dropdownUsuario"
  #dropdownbutton
  style="color: #505461"
  [items]="dropdownUsuarioData"
  cssClass="e-flat"
  iconCss="fa fa-user-o"
  content='Sandra Oliveira'
></button>

<button
  ejs-dropdownbutton
  id="menuSuperior-dropdownOpcoes"
  style="color: #505461"
  [items]="dropdownOpcoesData"
  cssClass="e-flat"
  content='Visão Agregada'
></button>

<div class="badge-block" id="menuSuperior-notificacao">
  <i class="fa fa-bell-o fa-2x" aria-hidden="true"></i>
  <span
    *ngIf="notificacaoQtd > 0 || notificacaoQtd === '99+' "
    class="e-badge e-badge-warning e-badge-notification e-badge-overlap"
    >{{ notificacaoQtd }}</span
  >
</div>
