<form action="">
  <fieldset>
    <article>
      <section>
        <div class="e-card" style="width: 750px">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title">Atalho</div>
            </div>
          </div>
          <div class="e-card-content flex ">
            <div class="sub-conteudo">
              <h2>Operacional</h2>
              <div class=" flex">
                <div class="flex-coluna">
                  <button ejs-button (click)="onBtnClick('Envio')" cssClass="e-outline" isPrimary="true" type="button">
                    Envio
                  </button>
                  <button ejs-button (click)="onBtnClick('Assinatura')"  cssClass="e-outline" isPrimary="true" type="button">
                    Assinatura
                  </button>
                </div>

                <div class="flex-coluna">
                  <button ejs-button (click)="onBtnClick('Envio de Duplicatas')"  cssClass="e-outline" isPrimary="true" type="button">
                    Envio de Duplicatas
                  </button>
                  <button ejs-button (click)="onBtnClick('Assinatura Digital')"  cssClass="e-outline" isPrimary="true" type="button">
                    Assinatura Digital
                  </button>
                </div>

                <div class="flex-coluna">
                  <button ejs-button (click)="onBtnClick('Nova Operação')"  cssClass="e-outline" isPrimary="true" type="button">
                    Nova Operação
                  </button>
                </div>
              </div>
            </div>

            <div class="sub-conteudo">
              <h2>Geral</h2>
              <div>
                <button ejs-button (click)="onBtnClick('Envio')"  cssClass="e-outline" isPrimary="true" type="button">
                  Geral
                </button>
                <button ejs-button (click)="onBtnClick('Envio')"  cssClass="e-outline" isPrimary="true" type="button">
                  Instruções
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="e-card" style="width: 400px">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title">Alerta</div>
            </div>
          </div>
          <div class="e-card-content">
            <div class="sub-conteudo">
              <div class="flex flex-coluna">
                <div class="sub-conteudo-nota">
                  <p>23 Notas Canceladas</p>
                </div>

                <div class="sub-conteudo-nota flex flex-linha">
                  <p>13 Notas Canceladas</p>
                  <ejs-dropdownlist
                  id="nota"
                  #sample
                  [dataSource]="notasData"
                  (change)="onChange($event)"
                  [value]="value"
                  [fields]="fields"
                  placeholder="Notas"
                ></ejs-dropdownlist>
                </div>

                <div class="flex flex-linha">
                  <p>7 Assinaturas Digital</p>
                  <ejs-dropdownlist
                    id="acao"
                    #sample
                    [dataSource]="acoesData"
                    (change)="onChange($event)"
                    [value]="value"
                    [fields]="fields"
                    placeholder="Ações"
                  ></ejs-dropdownlist>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
  </fieldset>
</form>
