.e-card {
  margin: 15px;
  .e-card-header-title{
    font-size: 20px;
  }
}

h2{
  font-size: 16px;
  border-bottom: 1px solid;
}

article {
  flex-grow: 1;
  justify-content: center;
}

.sub-conteudo {
  margin: 5px;
  div {
    justify-content: space-between;
  }
  .sub-conteudo-nota{
    border-bottom: 1px solid;
  }
}

button {
  width: 170px;
  margin: 5px
}