<div class="pagina-inicial">

    <ui-element-menu-lateral></ui-element-menu-lateral>

    <article id="contexto" fixarCabecalhoContexto="cabecalho, contexto-filho1">
      <div class="contexto-filho1">
        <div class="contexto-filho2">

          <ui-element-menu-superior class="menu-superior"></ui-element-menu-superior>
                <header class="cabecalho">
                    <ui-element-cabecalho-pagina></ui-element-cabecalho-pagina>
                </header>
                <hr/>
                <div class="contexto-paginas">
                    <router-outlet></router-outlet>
                </div>

            </div>
        </div>
    </article>
    <ui-element-notificacao-lateral></ui-element-notificacao-lateral>
 </div>
