
.pagina-inicial {
  height: 100%;
  overflow: hidden;
  background-color:  #E5E5E5 ;
}

article {
  height: calc(100% - 42px);
  overflow: hidden;
}

.contexto-filho1 {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  align-content: stretch;
}

.contexto-filho2 {
  flex: 1;
  flex-direction: column;
}

.contexto-paginas {
  height: 100%;
  overflow: auto;
}
