$azulAtivo: #00BDE8 !default;
$azulPrimario: #0060B6 !default;
$erro: #DD4B4B !default;
$cinzaPrimario: #1F1F1F !default;
$cinzaSecundario: #6A6A6A !default;
$cinzaTerciario: #828282 !default;
$cinzaQuaternario: #E5E5E5 !default;
$cinzaIcon: #AAAAAA !default;
$desativado: #949494 !default;


$area: (
  Cor1: #D33737,
  Cor2: #A53466,
  Cor3: #D45380,
  Cor4: #7A4899,
  Cor5: #9C49AA,
  Cor6: #5775C8,
  Cor7: #4150A7,
  Cor8: #0070B3,
  Cor9: #2699D0,
  Cor10: #0092A6,
  Cor11: #029682,
  Cor12: #187474,
  Cor13: #217B2F,
  Cor14: #329932,
  Cor15: #68AA1D,
  Cor16: #DE6B2B,
  Cor17: #F37650,
  Cor18: #E3961A,
  Cor19: #AD8B80,
  Cor20: #725E58,
);
