.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  // -webkit-flex-flow: row wrap;
}

.flex-linha {
  flex-direction: row;
}

.flex-coluna {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-flow {
  flex-flow: flex-direction;
}
