@import "cores.scss";

// Inputs
// ================================================================================================================

// Altera a cor da linha abaixo do texto quando não selecionado e válido.
.e-input-group.e-success,
.e-input-focus,
.e-input-group.e-success:not(.e-float-icon-left) {
    border-bottom-color: $azulAtivo
}

// Altera a font.
.input.e-input, textarea.e-input, .e-input-group, .e-input-group.e-control-wrapper {
    font-family: "Open Sans" !important;
    font-size: 14px !important;
}

// Altera a cor da linha abaixo do texto quando selecionado e válido.
.e-float-input.e-input-group:not(.e-float-icon-left).e-success .e-float-line::before,
.e-float-input.e-input-group:not(.e-float-icon-left).e-success .e-float-line::after,
.e-float-input.e-input-group.e-float-icon-left.e-success .e-input-in-wrap .e-float-line::before,
.e-float-input.e-input-group.e-float-icon-left.e-success .e-input-in-wrap .e-float-line::after,
.e-float-input.e-control-wrapper.e-input-group:not(.e-float-icon-left).e-success .e-float-line::before,
.e-float-input.e-control-wrapper.e-input-group:not(.e-float-icon-left).e-success .e-float-line::after,
.e-float-input.e-control-wrapper.e-input-group.e-float-icon-left.e-success .e-input-in-wrap .e-float-line::before,
.e-float-input.e-control-wrapper.e-input-group.e-float-icon-left.e-success .e-input-in-wrap .e-float-line::after,
.e-float-input.e-input-group.e-control-wrapper:not(.e-float-icon-left).e-success .e-float-line::before,
.e-float-input.e-input-group.e-control-wrapper:not(.e-float-icon-left).e-success .e-float-line::after,
.e-float-input.e-input-group.e-control-wrapper.e-float-icon-left.e-success .e-input-in-wrap .e-float-line::before,
.e-float-input.e-input-group.e-control-wrapper.e-float-icon-left.e-success .e-input-in-wrap .e-float-line::after {
    background-color: $azulAtivo;
}
// ---------------------------------------------------------------------------------------------------------------

// Altera fonte do componente ejs-treeview
.e-control, .e-css {
  font-family: "Open Sans" !important;
}

.e-btn, .e-css.e-btn {
  padding: 7px 15px 7px 15px !important;
}
