/* Margin top */
.mt-3px {margin-top: 3px !important;}
.mt-5px {margin-top: 5px !important;}
.mt-10px {margin-top: 10px !important;}
.mt-11px {margin-top: 11px !important;}
.mt-15px {margin-top: 15px !important;}
.mt-20px {margin-top: 20px !important;}
.mt-30px {margin-top: 30px !important;}
.mt-35px {margin-top: 35px !important;}
.mt-40px {margin-top: 40px !important;}
.mt-60px {margin-top: 60px !important;}
.mt-80px {margin-top: 80px !important;}
.mt-100px {margin-top: 100px !important;}

/* Margin bottom */
.mb-5px {margin-bottom: 5px !important;}
.mb-10px {margin-bottom: 10px !important;}
.mb-11px {margin-bottom: 11px !important;}
.mb-15px {margin-bottom: 15px !important;}
.mb-20px {margin-bottom: 20px !important;}
.mb-25px {margin-bottom: 25px !important;}
.mb-30px {margin-bottom: 30px !important;}
.mb-40px {margin-bottom: 40px !important;}
.mb-60px {margin-bottom: 60px !important;}
.mb-80px {margin-bottom: 80px !important;}
.mb-100px {margin-bottom: 100px !important;}

/* Margin left */
.ml-5px {margin-left: 5px !important;}
.ml-10px {margin-left: 10px !important;}
.ml-20px {margin-left: 20px !important;}
.ml-30px {margin-left: 30px !important;}
.ml-40px {margin-left: 40px !important;}
.ml-60px {margin-left: 60px !important;}

/* Margin right */
.mr-5px {margin-right: 5px !important;}
.mr-10px {margin-right: 10px !important;}
.mr-20px {margin-right: 20px !important;}
.mr-30px {margin-right: 30px !important;}
.mr-40px {margin-right: 40px !important;}
.mr-60px {margin-right: 60px !important;}

/* Reset Margins */
.m-0 {margin: 0 !important;}
.mt-0 {margin-top: 0 !important;}
.mb-0 {margin-bottom: 0 !important;}
.ml-0 {margin-left: 0 !important;}
.mr-0 {margin-right: 0 !important;}

/* Padding top */
.pt-5px {padding-top: 5px !important;}
.pt-10px {padding-top: 10px !important;}
.pt-15px {padding-top: 15px !important;}
.pt-20px {padding-top: 20px !important;}
.pt-30px {padding-top: 30px !important;}
.pt-40px {padding-top: 40px !important;}
.pt-60px {padding-top: 60px !important;}
.pt-80px {padding-top: 80px !important;}
.pt-100px {padding-top: 100px !important;}

/* Padding bottom */
.pb-1px {padding-bottom: 1px !important;}
.pb-5px {padding-bottom: 5px !important;}
.pb-10px {padding-bottom: 10px !important;}
.pb-20px {padding-bottom: 20px !important;}
.pb-30px {padding-bottom: 30px !important;}
.pb-40px {padding-bottom: 40px !important;}
.pb-60px {padding-bottom: 60px !important;}
.pb-80px {padding-bottom: 80px !important;}
.pb-100px {padding-bottom: 100px !important;}

/* Padding left */
.pl-5px {padding-left: 5px !important;}
.pl-10px {padding-left: 10px !important;}
.pl-20px {padding-left: 20px !important;}
.pl-30px {padding-left: 30px !important;}
.pl-40px {padding-left: 40px !important;}
.pl-60px {padding-left: 60px !important;}

/* Padding right */
.pr-5px {padding-right: 5px !important;}
.pr-10px {padding-right: 10px !important;}
.pr-20px {padding-right: 20px !important;}
.pr-30px {padding-right: 30px !important;}
.pr-40px {padding-right: 40px !important;}
.pr-60px {padding-right: 60px !important;}

/* Reset Paddings */
.p-0 {padding: 0 !important;}
.pt-0 {padding-top: 0 !important;}
.pb-0 {padding-bottom: 0 !important;}
.pl-0 {padding-left: 0 !important;}
.pr-0 {padding-right: 0 !important;}

.flex {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}