@import 'cores.scss';

body {
  margin: 0px;
}

.logo {
  width: 180px;
  float: left;
  margin-top: 12x;
  display: block;
}

.logo img {
  width: 155px;
  height: 30px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.scrolar {
  overflow: auto;
  position: absolute;
}

hr {
  margin-bottom: 0px;
  border-color: $cinzaQuaternario;
  border-top: 1px;
}
