/* You can add global styles to this file, and also import other style files */
@import "./app/common/css/syncfusion-bibliotecas.scss";
@import "./app/common/css/variaveis-box.scss";
@import "./app/common/css/tipografia.scss";
@import "./app/common/css/sobrescrita-bibliotecas.scss";
@import "./app/common/css/flex-box.scss";
@import "./app/common/css/variaveis-html.scss";
@import "./app/common/css/cores.scss";
@import "./app/common/css/syncfusion-theme-material.scss";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "./app/common/css/padrao.scss";

body, html {
    height: 100%;
    overflow: hidden;
}
